.edit_account__background {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 36px 0;
}


.edit_account__container {
    width: 706px;
    padding: 0 48px;
}


.edit_account__title {
    padding: 12px 0;
    margin-bottom: 32px;
}

.edit_account__title span {
    font-size: 20px;
    font-weight: 700;
    user-select: none;
}


.edit_account__submit {
    width: 100%;
    display: flex;
    justify-content: end;
}

.edit_account__submit__submit_button {
    margin-top: 16px;
    padding: 0 20px;
    border-radius: 8px;
    width: 253px;
    height: 44px;
    font-size: 14px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    opacity: 0.5;
    user-select: none;
    border: none;
    background-color: rgb(0, 149, 246);
}

.edit_account__submit__submit_button.active {
    opacity: 1;
    cursor: pointer;
}

.edit_account__submit__submit_button.active:hover {
    opacity: 0.9;
}



.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-group label {
    padding: 16px 0;
    font-size: 16px;
    font-weight: 700;
    user-select: none;
}

.form-control {
    height: 41.6px;
    border: 1px solid rgb(50, 53, 57);
    outline: none;
    border-radius: 12px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #000;
}

.form-control:focus {
    border-color: rgb(248, 249, 249);
}

.form-message {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0 0 4px;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}