.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 2;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__xmark {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 18px;
}

.modal__body {
    margin: auto;
    z-index: 1;
}