.modal__create_content {
    width: 481px;
    border-radius: 16px;
    background-color: #262626;
    display: none;
}

.modal__create_content.active {
    display: block;
}

.modal__create_content-title {
    height: 42px;
    border-bottom: 1px solid #363636;
    text-align: center;
    line-height: 42px;
}

.modal__create_content-title span {
    font-size: 16px;
    font-weight: 600;
}

.modal__create_content-body {
    height: 481px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal__create_content-body__text {
    margin-top: 8px;
}

.modal__create_content-body__text span {
    font-size: 20px;
    font-weight: 400;
}

.modal__create_content-body__button_choose_file {
    margin-top: 20px;
}

.modal__create_content-body__button_choose_file button {
    padding: 7px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #0095F6;
}

.modal__create_content-body__button_choose_file button span {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal__create_content-body__button_choose_file button:hover {
    background-color: #1877f2;
}



.crop_image {
    width: 489px;
    height: 532px;
    border-radius: 12px;
    background-color: #282828;
    display: none;
}

.crop_image.active {
    display: block;
}


.crop_image__header {
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(54, 54, 54);
}

.crop_image__header svg {
    display: flex;
    align-items: center;
}


.crop_image__back {
    padding: 8px;
    margin-left: 8px;
    cursor: pointer;
}


.crop_image__title span {
    font-size: 16px;
    font-weight: 600;
}


.crop_image__next {
    padding: 0 16px;
    user-select: none;
}

.crop_image__next span {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(0, 149, 246);
}

.crop_image__next span:hover {
    color: rgb(224, 241, 255);
}


.crop_image__image {
    width: 489px;
    height: 489px;
    overflow: hidden;
    position: relative;
}

.crop_image__image img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    object-fit: contain;
}


.crop_image__image__set_ratio {
    position: absolute;
    left: 8px;
    bottom: 8px;
}


.crop_image__image__set_ratio__select {
    margin: 8px;
    border-radius: 8px;
    background-color: rgba(26, 26, 26, 0.8);
    display: none;
}

.crop_image__image__set_ratio__select.active {
    display: block;
}

.crop_image__image__set_ratio__select__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    cursor: pointer;
    user-select: none;
}

.crop_image__image__set_ratio__select__item:not(:nth-child(1)) {
    border-top: 1px solid rgb(38, 38, 38);
}

.crop_image__image__set_ratio__select__item__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding-left: 16px;
}

.crop_image__image__set_ratio__select__item__icon {
    padding: 12px;
}

.crop_image__image__set_ratio__select__item__icon svg {
    display: flex;
    align-items: center;
}


.crop_image__image__set_ratio__icon {
    width: 32px;
    height: 32px;
    margin: 8px;
    margin-top: 16px;
    padding: 8px;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
    background-color: rgba(26, 26, 26, 0.8);
}

.crop_image__image__set_ratio__icon svg {
    display: flex;
    align-items: center;
}


.confirm_post {
    width: 829px;
    height: 532px;
    border-radius: 12px;
    background-color: #282828;
    display: none;
}

.confirm_post.active {
    display: block;
}

.confirm_post__header {
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(54, 54, 54);
}


.confirm_post__back {
    padding: 8px;
    margin-left: 8px;
    cursor: pointer;
}

.confirm_post__back svg {
    display: flex;
    align-items: center;
}


.confirm_post__title span {
    font-size: 16px;
    font-weight: 600;
}


.confirm_post__submit {
    padding: 16px;
}

.confirm_post__submit span {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(0, 149, 246);
}

.confirm_post__submit span:hover {
    color: rgb(224, 241, 255);
}


.confirm_post__body {
    display: flex;
}


.confirm_post__image {
    width: 489px;
    height: 489px;
}

.confirm_post__image img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    object-fit: cover;
}


.confirm_post__info_post {
    flex-grow: 1;
}


.confirm_post__user {
    display: flex;
    align-items: center;
    margin: 0 16px;
    height: 60px;
}


.confirm_post__user__image {
    width: 28px;
    height: 28px;
    margin-right: 12px;
}

.confirm_post__user__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    object-fit: cover;
}


.confirm_post__user__id {
    display: flex;
    align-items: center;
}

.confirm_post__user__id span {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}


.confirm_post__caption__emoji_and_limit_textarea {
    height: 44px;
}


.confirm_post__caption__emoji {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 12px 8px 12px 16px;
}


.confirm_post__caption__textarea {
    padding: 0 16px;
    width: 100%;
}

.confirm_post__caption__textarea textarea {
    background-color: #282828;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.confirm_post__caption__emoji_and_limit_textarea {
    height: 40px;
    display: flex;
    align-items: center;
}


.confirm_post__caption__limit_textarea {
    padding: 0 12px;
}

.confirm_post__caption__limit_textarea span {
    padding: 0 4px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(115, 115, 115);
}