.centerImg {
    display: flex;
    justify-content: center;
    /* Canh giữa theo chiều ngang */
    align-items: center;
    /* Canh giữa theo chiều dọc */
    overflow: hidden;
    /* Ẩn phần nào của hình ảnh vượt ra khỏi kích thước div */
}

.gap {
    margin: 12px 0 22px;
    height: 1px;
    width: 100%;
    background-color: var(--border-navigation_bar);
}



.navigation_bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 245px;
    border-right: 1px solid var(--border-navigation_bar);
    height: 100vh;
    position: fixed;
    padding: 8px 12px 20px 12px;
    background-color: var(--background-black);
    z-index: 1;
}

.logo-web {
    color: #fff;
    padding: 25px 12px 16px;
    margin-bottom: 5px;
    margin-top: 7px;
}

.logo-web-tablet {
    display: none;
}

.navigation__item {
    display: flex;
    align-items: center;
    margin: 12px 0px;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

.navigation__item>* {
    display: flex;
    align-items: center;
}

.navigation__item:hover {
    background-color: var(--hover-background-black);
}

.navigation__item:hover svg,
img {
    transform: scale(1.05);
}

.navigation__item>* {
    align-items: center;
}

.navigation__item-logo {
    position: relative;
}

.navigation__item-logo--no_active > * {
    display: flex;
    align-items: center;
}

.navigation__item-logo--active > * {
    display: flex;
    align-items: center;
}

.navigation__item-logo--active {
    display: none;
}

.navigation__item-span {
    padding-left: 16px;
    font-weight: 400;
    white-space: nowrap;
}

.navigation__item-img {
    width: 24px;
    height: 24px;
}

.navigation__item-img img {
    width: 100%;
    border-radius: 50%;
}

.navigation-see_more .navigation__item {
    margin-bottom: 6px;
}

.combined {
    height: 100%;
    /* Kích thước của phần tử kết hợp sẽ căn chỉnh với container */
}

.navbar_top,
.navbar_bottom {
    display: none;
}

@media (max-width: 1263px) {
    .navigation__item-span {
        display: none;
    }

    .navigation_bar {
        width: 73px;
    }

    .logo-web-tablet {
        display: block;
    }

    .logo-web-pc {
        display: none;
    }

    .logo-web {
        margin-top: 3px;
        margin-bottom: 14px;
    }
}

.navigation__item-span.active {
    visibility: hidden;
}

.navigation_bar.active {
    width: 73px;
}

.logo-web-tablet.active {
    display: block;
}

.logo-web-pc.active {
    display: none;
}

.logo-web.active {
    margin-top: 3px;
    margin-bottom: 14px;
}

.navigation__item-search_account.active {
    outline: 1px solid #dbdbdb;
}

.navigation__item-notification.active {
    outline: 1px solid #dbdbdb;
}

.navigation__item-profile.active .navigation__item-logo {
    outline: 3px solid #dbdbdb;
    border-radius: 50%;
}

.navigation__item-home {

}

.navigation__item-message {

}

.navigation__item-create_content {

}

.navigation__item-see_more {

}

@keyframes shrinkRightSidebar {
    from {
        width: 245px;
    }

    to {
        width: 73px;
    }
}

.animationAppearSideBar {
    animation: shrinkRightSidebar .4s ease;
}

@keyframes shrinkLeftSidebar {
    from {
        width: 73px;
    }

    to {
        width: 245px;
    }
}

.animationDisappearSideBar {
    animation: shrinkLeftSidebar .4s ease;
}

@media (max-width: 766px) {
    .sidebar {
        display: none;
    }

    .navbar_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 0;
        height: 60px;
        padding: 0 16px;
        border-bottom: 1px solid var(--border-navigation_bar);
    }

    .navbar_bottom {
        display: block;
        bottom: 0;
        height: 48px;
        padding: 0;
        border-top: 1px solid var(--border-navigation_bar);
    }

    .navigation_bar {
        width: 100%;
    }

    .logo-web-pc {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .navigation-page {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation__item:hover {
        background-color: var(--background-black);
    }
}







.navigation-see_more {
    position: relative;
}


