.background_detail_post {
    width: calc(100% - 245px);
    height: 100vh;
    margin-left: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1263px) {
    .background_detail_post {
        width: calc(100% - 73px);
        margin-left: 73px;
    }
}


.container_detail_post {
    display: flex;
    width: 1000px;
    height: 630px;
}

.detail_post__img {
    width: 500px;
    height: 630px;
}

.detail_post__img img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    object-fit: cover;
}

.detail_post__engagement {
    width: 500px;
    height: 630px;
    background-color: #000;
}

.detail_post__engagement__header {
    display: flex;
    padding: 0 16px;
    height: 60px;
    border-bottom: 1px solid #383838;
}

.detail_post__engagement__header > div {
    height: 60px;
}

.detail_post__engagement__avatar_and_name {
    display: flex;
    align-items: center;
    padding: 14px 4px 14px 0;
    flex-grow: 1;
}

.detail_post__engagement__avatar {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-top: 5px;
}

.detail_post__engagement__avatar img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    border-radius: 50%;
    object-fit: cover;
}

.detail_post__engagement__name {
    margin-left: 14px;
    margin-bottom: 3px;
    cursor: pointer;
}

.detail_post__engagement__name span {
    font-size: 14px;
    font-weight: 600;
}

.detail_post__engagement__options {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.detail_post__engagement__list_comment {
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    padding: 16px;
}

.detail_post__engagement__comment_container {
    display: flex;
    width: 100%;
}

.detail_post__engagement__content_comment {
    width: calc(100% - 32px - 14px);
    margin-left: 14px;
    padding-right: 16px;
    padding-bottom: 16px;
    line-height: 1.2;
}

.detail_post__engagement__id {
    font-size: 14px;
    font-weight: 600;
    margin-right: 4px;
    cursor: pointer;
}

.detail_post__engagement__comment {
    font-size: 14px;
    font-weight: 400;
}

.detail_post__engagement__time_create_comment_and_option_comment {
    display: flex;
    align-items: center;
}

.detail_post__engagement__time_create_comment {
    font-size: 12px;
    font-weight: 400;
    color: rgb(168, 168, 168);
    user-select: none;
}

.detail_post__engagement__option_comment {
    padding: 0 8px;
    visibility: hidden;
    height: 24px;
    cursor: pointer;
}

.detail_post__engagement__option_comment.active {
    visibility: visible;
}

.detail_post__engagement__option_comment svg {
    display: flex;
    align-items: center;
}


.detail_post__engagement__button_engagement {
    display: flex;
    align-items: center;
    height: 55px;
    padding: 6px 8px;
    border-top: 1px solid #383838;
}


.detail_post__engagement__button_engagement > div {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.detail_post__engagement__button_engagement > div:not(.detail_post__engagement__un_like) svg:hover {
    color: rgb(142, 142, 142);
}

.detail_post__engagement__like:active {
    transform: scale(0.9);
}

.detail_post__engagement__un_like {
    animation: scaleEffect 0.2s linear;
    color: rgb(255, 48, 64);
}

@keyframes scaleEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}


.detail_post__engagement__total_like {
    padding: 0 16px;
    cursor: pointer;
}

.detail_post__engagement__total_like span {
    font-size: 14px;
    font-weight: 600;
    user-select: none;
}


.detail_post__engagement__time_create {
    padding: 0 16px;
    margin-bottom: 16px;
}

.detail_post__engagement__time_create span {
    font-size: 12px;
    font-weight: 400;
    color: rgb(168, 168, 168);
    user-select: none;
}


.detail_post__engagement__footer {
    display: flex;
    height: 55.8px;
    padding: 6px 16px 6px 0;
    align-items: center;
}

.detail_post__engagement__icon {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
}

.detail_post__engagement__footer input {
    background-color: #000;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border: none;
    outline: none;
    height: 18px;
    max-height: 80px;
    overflow-y: auto;
    line-height: 1.5;
    flex-grow: 1;
}

.detail_post__engagement__footer span {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(179, 219, 255);
    opacity: 0.5;
    cursor: default;
    user-select: none;
}

.detail_post__engagement__footer span.active {
    color: rgb(0, 149, 246);
    cursor: pointer;
    opacity: 1;
}

.detail_post__engagement__footer span.active:hover {
    color: rgb(224, 241, 255);
}