.main.page-profile {
    display: flex;
    position: relative;
    margin-left: 245px;
    margin-top: 30px;
    flex-direction: column;
}

.info_user {
    width: 935px;
    display: flex;
    margin: auto;
    margin-bottom: 44px;
}

.info_user-img_container {
    width: 292px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.info_user-img {
    width: 150px;
    height: 150px;
    margin: auto;
    cursor: pointer;
    position: relative;
}

.info_user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    position: absolute;
    z-index: 1;
    object-fit: cover;
}

.info_user-img__iconSetImage {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(85, 85, 85, .7);
    z-index: 2;
}

.info_user-text {
    padding-bottom: 15px;
}

.info_user-text > * {
    display: flex;
}

.info_user-text__line1 {
    height: 40px;
    display: flex;
    align-items: center;
}

.info_user-text__name {
    font-size: 20px;
    font-weight: 400;
}

.info_user-text__edit_profile {
    margin-left: 20px;
    padding: 0 16px;
    height: 32px;
    line-height: 32px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    background-color: #363636;
}

.info_user-text__line2 {
    margin-top: 20px;
}

.info_user-text__amount {
    margin-right: 40px;
}

.info_user-text__amount span {
    margin-right: 5px;
}

.info_user-text__amount-number {
    font-weight: 600;
}

.info_user-text__line3 {
    margin-top: 20px;
}

.info_user-text__real_name {
    font-size: 14px;
    font-weight: 600;
}

.info_user-text__line4 {
    margin-top: 20px;
}

.info_user-text__description {
    font-size: 14px;
    font-weight: 400;
}


.post_24h_container {
    width: 935px;
    height: 130px;
    margin: auto;
    margin-bottom: 44px;
}

.add_post_container {
    margin-left: 34px;
    padding: 10px 15px;
    width: 115px;
    text-align: center;
    cursor: pointer;
}

.add_post_container__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    border-radius: 50%;
    outline: 1px solid #363636;
    position: relative;
}

.add_post_container__icon__background {
    position: absolute;
    border-radius: 50%;
    background-color: #121212;
    width: 77px;
    height: 77px;
}

.add_post_container__icon svg {
    color: #737373;
    font-size: 14px;
    z-index: 1;
}

.add_post_container__text {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 600;
}

.navbar_post_page_profile {
    width: 935px;
    height: 52.8px;
    border-top: 1px solid #262626;
    margin: auto;
    display: flex;
    justify-content: center;
}

.navbar_post_page_profile__tab {
    display: flex;
    align-items: center;
    height: 52.8px;
    margin: 0 30px;
    cursor: pointer;
    user-select: none;
}

.navbar_post_page_profile__tab:nth-child(3) {
    margin-right: 0;
  }

.navbar_post_page_profile__tab > * {
    color: #a8a8a8;
}

.navbar_post_page_profile__tab.active {
    border-top: 1px solid #f5f5f5;
}

.navbar_post_page_profile__tab.active > * {
    color: #f5f5f5;
}

.navbar_post_page_profile__tab__icon {
    display: flex;
    align-items: center;
}

.navbar_post_page_profile__tab__text {
    margin-left: 6px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.content_post_container_page_profile {
    margin-bottom: 52px;
}

.content_post_container__pane {
    width: 939px;
    margin: auto;
    display: none;
}

.content_post_container__pane.active {
    display: flex;
    flex-wrap: wrap;
}

.post_no_detail {
    width: 309px;
    height: 309px;
    margin: 0 2px 4px;
    cursor: pointer;
    position: relative;
}

.post_no_detail:hover .post_no_detail__hover {
    display: flex;
}

.post_no_detail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    position: absolute;
    z-index: 1;
}

.post_no_detail__hover {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 309px;
    height: 309px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.post_no_detail__hover__li {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.post_no_detail__hover__li svg {
    font-size: 19px;
    margin-top: 2px;
    margin-right: 7px;
}


.content_post_container__pane__post_save__header {
    width: 935px;
    display: flex;
    justify-content: space-between;
}

.content_post_container__pane__post_save__header span {
    margin-top: 32px;
    margin-bottom: 16px;
}

.content_post_container__pane__post_save__header__description {
    font-size: 12px;
    font-weight: 400;
    color: #a8a8a8;
}

.content_post_container__pane__post_save__header__add_new_collection {
    font-size: 14px;
    font-weight: 600;
    color: #0095f6;
    cursor: pointer;
    user-select: none;
}

.content_post_container__pane__post_save__header__add_new_collection:hover {
    color: #e0f1ff;
}


.content_post_container__pane__post_save__body {
    display: flex;
    width: 936.8px;
    height: 301.6px;
    margin: auto;
    flex-wrap: wrap;
}

.content_post_container__pane__post_save__body > .post_save_no_detail:nth-child(3n) {
    margin-right: 0px;
}

.post_save_no_detail {
    width: 301.6px;
    height: 301.6px;
    position: relative;
    cursor: pointer;
    border: 1px solid #555555;
    border-radius: 4px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.post_save_no_detail > * {
    border-radius: 4px;
}

.post_save_no_detail__backgroundImage {
    width: 300px;
    height: 300px;
    background-image: linear-gradient(to top, rgba(38, 38, 38, 0.6), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1;
}

.post_save_no_detail:hover .post_save_no_detail__backgroundImage {
    display: none;
}

.post_save_no_detail img {
    width: 100%;
    transform: scale(1);
    position: absolute;
}

.post_save_no_detail span {
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    z-index: 2;
}

@media (max-width: 1263px) {
    .main.page-profile {
        margin-left: 73px;
    }
}