.page-notification {
    width: 397px;
    height: 100vh;
    padding: 8px 0;
    border-right: 1px solid var(--border-navigation_bar);
    background-color: var(--background-black);
    left: 73px;
    position: fixed;
    animation: disappearPageSearch ease-in-out .4s;
    transform: translateX(-100%);
    display: none;
}

@keyframes appearPageSearch {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.animationAppearPageSearch {
    animation: appearPageSearch ease-in-out .4s forwards;
}

@keyframes disappearPageSearch {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.page-notification__title {
    padding: 16px 24px 24px;
}

.page-notification__title span {
    font-size: 24px;
    font-weight: 700;
}

.page-notification__container_notification__title {
    padding: 0 24px;
    margin-bottom: 18px;
}

.page-notification__container_notification__title span {
    font-size: 16px;
    font-weight: 700;
}

.page-notification__container_notification__content__ul {
    list-style: none;
}

.page-notification__container_notification__content__ul li {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    cursor: pointer;
}

.page-notification__container_notification__content__ul li:hover {
    background-color: var(--hover-background-black);
}

.page-notification__container_notification__content__ul__li-img_user {
    width: 44px;
    height: 44px;
    margin-right: 14px;
}

.page-notification__container_notification__content__ul__li-img_user img {
    width: 90%;
    border-radius: 50%;
}

.page-notification__container_notification__content__ul__li-message_notification {
    flex: 1;
}

.page-notification__container_notification__content__ul__li-message_notification span {
    margin-right: 5px;
}

.page-notification__container_notification__content__ul__li-message_notification-name_user {
    font-size: 14px;
    font-weight: 600;
}

.page-notification__container_notification__content__ul__li-message_notification-message_action {
    font-size: 14px;
    font-weight: 400;
}

.page-notification__container_notification__content__ul__li-message_notification-message_time {
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 400;
}

.page-notification__container_notification__content__ul__li-img_post {
    width: 44px;
    height: 44px;
    margin-left: 12px;
}

.page-notification__container_notification__content__ul__li-img_post img {
    width: 90%;
}

.page-notification__container_notification__content__ul__li-button_un_follow {
    margin-left: 12px;
}

.page-notification__container_notification__content__ul__li-button_un_follow button {
    padding: 7px 16px;
    border-radius: 8px;
    background-color: #0095F6;
    border: none;
    cursor: pointer;
}

.page-notification__container_notification__content__ul__li-button_un_follow button:hover {
    background-color: #0095F6B3;
}

.page-notification__container_notification__content__ul__li-button_un_follow button span {
    color: var(--text-white);
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-notification__container_notification__content__ul__li-button_follow {
    margin-left: 12px;
}

.page-notification__container_notification__content__ul__li-button_follow button {
    padding: 7px 16px;
    border-radius: 8px;
    background-color: #363636;
    border: none;
    cursor: pointer;
}

.page-notification__container_notification__content__ul__li-button_follow button:hover {
    background-color: #262626;
}

.page-notification__container_notification__content__ul__li-button_follow button span {
    color: var(--text-white);
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}