.navigation__item {
    display: flex;
    align-items: center;
    margin: 12px 0px;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

.search_input_in_page_search {
    position: relative;
    width: 268px;
    height: 36px;
    background-color: #262626;
    padding: 3px 16px;
}

.search_input_in_page_search:hover {
    background-color: #262626;
}

.search_input_in_page_search input {
    background-color: #262626;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: var(--text-white);
    padding-left: 28px;
}

.search_input_in_page_search>svg {
    position: absolute;
    left: 16px;
    color: #8e8e8e;
}

.search_input_in_page_search i {
    font-size: 14px;
    color: #c8c8c8;
    display: none;
}


.page-search {
    width: 397px;
    height: 100vh;
    padding: 8px 0;
    border-right: 1px solid var(--border-navigation_bar);
    border-radius: 0 16px 16px 0;
    background-color: var(--background-black);
    left: 73px;
    position: fixed;
    transform: translateX(-100%);
    animation: disappearPageSearch ease-in-out .4s;
    display: none;
}

@keyframes appearPageSearch {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.animationAppearPageSearch {
    animation: appearPageSearch ease-in-out .4s forwards;
}

@keyframes disappearPageSearch {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.page-search__title {
    margin: 8px 0;
    padding: 12px 14px 36px 24px;
}

.page-search__title span {
    font-size: 24px;
    font-weight: 600;
}

.page-search__input div {
    width: calc(100% - 32px);
    margin: 0 16px;
}

.page-search__recently {
    padding-top: 12px;
    border-top: 1px solid var(--border-navigation_bar);
    margin-top: 24px;
}

.page-search__recently__header {
    margin: 6px 24px 16px;
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageSearch__recently,
.pageSearch__recently__header {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.hiddenResultInput {
    opacity: 0;
    pointer-events: none;
}

.page-search__recently__header__title {
    font-size: 16px;
    font-weight: 600;
}

.page-search__recently__header__delete_all {
    color: #0095F6;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.page-search__recently__header__delete_all:hover {
    color: #E0F1FF;
}

.page-search__recently__body__ul {
    list-style: none;
}

.page-search__recently__body__ul li {
    height: 60px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background-color: var(--background-black);
}

.page-search__recently__body__ul li:hover {
    background-color: var(--hover-background-black);
}

.page-search__recently__body__ul__li-infor {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.page-search__recently__body__ul__li-img {
    width: 44px;
    height: 44px;
    margin-right: 12px;
}

.page-search__recently__body__ul__li-img img {
    width: 100%;
    border-radius: 50%;
    transform: scale(1);
}

.page-search__recently__body__ul__li-short_infor {
    flex: 1;
}

.page-search__recently__body__ul__li-short_info__name_account {
    font-size: 14px;
    font-weight: 600;
    margin-top: -5px;
}

.page-search__recently__body__ul__li-short_info__name_real_and_amount_follower {
    color: rgb(168, 168, 168);
    font-size: 14px;
    font-weight: 400;
}

.page-search__recently__body__ul__li-cancel svg {
    color: rgb(168, 168, 168);
}